<div class="row">
  <div class="col-sm-8">
    <div class="question-full panel">
      <h1>Questions#edit</h1>
      <p>Find me in app/views/questions/edit.html.erb</p>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>


