<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="forms-section panel">
      <h1>New Questions</h1>
      <%= render 'form', question: @question %>
    </div>
  </div>
</div>

