<div class="row">
  <div class="col-sm-8">
    <div class="question-full panel">
      <h1><%= @question.title %></h1>
      <p><%= @question.description %></p>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
