/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "font-awesome";

//Vars
$color_brand : #1abc9c;
$color_base : #333333;
$color_title : #363838;
$color_content : #989c9e;
$background_color : #ecf0f1;
$red : #db7a7a;

//Tags
body {
  font-family: 'Droid Sans', sans-serif;
  color: $color_base;
}
a {
  color: $color_title;
  &:hover {
    color: lighten($color_title, 30%);
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

//Header
.navbar-custom {
  border-bottom: 1px solid #c9cccd;
  margin: 0;
  border-radius: 0;
  min-height: 70px;
  .logo {
    padding: 10px 0;
    display: block;
  }
  .nav-main, .navbar-right {
    & > li > a {
      padding-top: 25px;
      padding-bottom: 25px;
      &.user-menu {
        padding-top: 15px;
        padding-bottom: 15px;
        .image_gravatar {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
  .navbar-form {
    margin-top: 12px;
    .form-control {
      border-radius: 4px 0 0 4px;
      height: 44px;
      &:focus {
        border-color: transparent;
        -webkit-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent;
      }
    }
    .btn {
      background: #697683;
      border-radius: 0 4px 4px 0;
    }
  }
}
//Content
.wrapper-content {
  background-color: $background-color;
  border-top: solid 1px #e0e4e5;
  padding: 2em 0 1em;
}
//Forms
.forms-section {
  .title {
    text-align: center
  }
  .btn {
    margin: 0 auto;
    display: block
  }
}
.form-control {
  background: #ebedf1;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border: 0;
  height: 45px;
}
.btn {
  padding: 11px 12px;
  &.btn-custom {
    background: $color_brand;
    color: #ffffff;
  }
}
//Questions
.panel {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 1em;
  padding: 1em
}
.question-preview, .question-full, .answer_single {
  padding: 0;
  .author, .content, .data, .votes {
    display: inline-block;
    vertical-align: top;
  }
  .author {
    text-align: center;
    padding: 1em 0.5em;
    width: 10%;
    .image_author {
      width: 40px;
      border-radius: 50%;
    }
    .name_author {
      font-size: 10px;
      color: $color_content;
      padding: 10px 0 0 0;
    }
  }
  .content {
    width: 73%;
    padding: 1em 1em 1em 0;
    .title {
      margin: 0;
      font-weight: 400;
    }
    .excerpt {
      color: $color_content;
    }
    .menu-questions {
      padding: 1em 0 0;
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          margin: 0 1em;
          &.edit {
            color: $color_brand;
            a {
              color: $color_brand;
            }
          }
          &.delete {
            color: $red;
            a {
              color: $red;
            }
          }
        }
      }
    }
  }
  .data {
    width: 17%;
    border-left: solid 1px #f1f1f1;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        list-style-type: none;
        display: block;
        padding: 0.5em 0;
        border-top: solid 1px #f1f1f1;
        font-size: 12px;
        color: $color_content;
        .answers_data {
          background: #bdc3c7;
          border-radius: 2px;
          display: block;
          padding: 5px;
          color: #ffffff;
          font-size: 14px;
          position: relative;
          margin: 0.5em auto;
          border-bottom: solid 1px #f1f1f1;
          width: 30px;
          height: 30px;
          &:after {
            content: '';
            width: 10px;
            height: 10px;
            background-color: #bdc3c7;
            position: absolute;
            bottom: 0;
            left: 37%;
            margin-bottom: -5px;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        &:first-child {
          border-top: 0;
        }
      }
    }
  }
  .votes {
    width: 17%;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: 2.3em;
        .new_vote {
          button {
            background-color: transparent;
            border: 0;
            outline: 0;
          }
        }
        .up-vote {
          color: $color_brand;
          &.disabled {
            color: $color_content;
          }
        }
        .votes-total {
          color: $color_content;
        }
        .down-vote {
          color: $red;
          &.disabled {
            color: $color_content;
          }
        }
      }
    }
  }
}
.comments_to_question, .comments_to_answer {
  .comment {
    border-top: solid 1px #f1f1f1;
    padding: 5px 0;
    font-size: 12px;
    &:last-child {
      border-bottom: solid 1px #f1f1f1;
    }
    .author_name {
      width: 15%;
      font-weight: 700;
      display: inline-block;
      vertical-align: top;
    }
    .comment_text {
      width: 85%;
      display: inline-block;
      vertical-align: top;
    }
  }
}
.question-full {
  .author {
    text-align: center;
    padding: 1em 0.5em;
    width: 15%;
    .image_author {
      width: 60px;
      border-radius: 50%;
    }
    .name_author {
      font-size: 14px;
    }
  }
  .content {
    width: 68%;
    .title {
      font-weight: 700;
    }
  }
}
.link {
  color: $color_brand;
  margin: 0.5em;
  display: block;
}
.form_comment {
  display: none;
}
//Notifications
.alert-danger {
  background-color: lighten($red, 10%);
  background-image: none;
  color: #ffffff;
  border: 0;
}
.alert-success {
  background-color: lighten($color_brand, 10%);
  background-image: none;
  color: #ffffff;
  border: 0;
}
.alert {
  > ul {
    padding: 0 0 0 1em;
  }
}
