/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "font-awesome";

//Vars
$color_brand : #1abc9c;
$color_base : #333333;
$color_title : #363838;
$color_content : #989c9e;
$background_color : #ecf0f1;

//Tags
body {
  font-family: 'Droid Sans', sans-serif;
  color: $color_base;
}
a {
  color: $color_title;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

//Header
.navbar-custom {
  border-bottom: 1px solid #c9cccd;
  margin: 0;
  border-radius: 0;
  min-height: 70px;
  .logo {
    padding: 10px 0;
    display: block;
  }
  .nav-main, .navbar-right {
    & > li > a {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .navbar-form {
    margin-top: 12px;
  }
  .user-menu {
    .image_gravatar {
      width: 40px;
      border-radius: 50%;
    }
  }
}
//Content
.wrapper-content {
  background-color: $background-color;
  border-top: solid 1px #e0e4e5;
  padding: 2em 0 1em;
}
//Forms
.form-control {
  background: #f3f5f9;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  border: 0;
  height: 45px;
}
.btn {
  padding: 11px 12px;
  &.btn-custom {
    background: $color_brand;
    color: #ffffff;
  }
}
//Questions
.panel {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 1em;
  padding: 1em
}